.services-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.news-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
}

.services-pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    background-color: #e8f4ff;
}
